
@media screen and (min-width:1280px) {
  .navbar-nav {
    gap:20px;
  }
  .footer {
    gap: 108px;
  }
}
 
@media screen and (max-width:1280px) {
  .footer {
    gap:48px;
  }
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
  
}
@media screen and (max-width:1199px) {
  .common-heading-section h3 {
    line-height: 58px;
    font-size: 50px;
  }
}
@media screen and (max-width: 991px) {
  .footer-pagination {
    width: 24%;
  }
  .footer {
    gap: 46px;
    flex-wrap: wrap;
  }
  .footer-logo {
    width: 100%;
    text-align: center;
  }
  .ellipse-1 {
    top: -18%;
  }
  .common-heading-section span {
    font-size: 15px;
  }
  .common-heading-section h3 {
    line-height:50px;
    font-size: 45px;
  }
  .hero-section {
    padding-top: 70px;
  }
  .navbar-nav.mx-auto {
    margin-left:0px !important;
  }
  .nav-item > a{
    padding: 10px;
  }
 
  .navbar-collapse {
    margin-top: 25px;
  }
  .header-area {
     
    margin-bottom:0px;
    
  }
  .footer {
    gap: 46px;
  }
  .header-right {
    margin-top: 25px;
  }
  .pricing-plan-box{
    row-gap:52px;
    flex-wrap: wrap;
  }
  .pricing-plan-item {
    width: 50%;
  }
  .plan-header p {
    font-size: 30px;
    margin-top: 10px;
  }
  .plan-header h4 {
    font-size: 25px;
    margin-top: 16px;
    line-height:40px;
  }
  .plan-header img {
    max-height: 100px;
    min-height: 100px;
  }
  .plan-label {
    font-size: 14px;
  }
  .pricing-plan {
    padding: 25px;
    padding-bottom: 60px;
  }
  .plan-option ul li {
    font-size: 15px;
  }
  .checked-icon i {
    font-size: 15px;
  }
  .mt-100{
    margin-top: 80px;
  }
  .common-heading-section h4 {
    font-size: 38px;
    line-height: 54px;
  }
  .card-1 h4 {
    margin-bottom: 12px;
    font-size: 26px;
    line-height: 32px;
  }
  .checkout-section{
    padding: 0;
  }
  .checkout-card-header ul li, .checkout-body ul li span, .checkout-card-footer ul li {
    font-size: 16px;
    line-height: 24px;
  }
  .checkout-logo img{
    max-width:80px;
     width: 100%;
  }
  .funfact-items {
    padding: 50px 0;
  }
  .funfact-item span {
    font-size: 34px;
    line-height: 45px;
  }
  .funfact-items .col-md-6:nth-child(even) .funfact-item:before{
    display: none;
  }
  .common-heading-section h6 {
    font-size: 22px;
    line-height: 30px;
  }
}
@media screen and (max-width:767px) {
  .common-heading-section h6 {
    font-size:20px;
    line-height:28px;
  }
  p{
    font-size: 15px;
  }
  .card-1-logo {
    height: 80px;
    width: 80px;
    border:2px solid #FFFFFF;
  }
  .card-1 h4 {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 32px;
  }
  .common-heading-section h4 {
    font-size: 28px;
    line-height: 38px;
  }
  .pricing-plan-item {
    width:100%;
  }
  .common-heading-section h3 {
    line-height: 42px;
    font-size: 32px;
  }
  .footer {
    gap:35px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .footer-item h4 {
    font-size: 24px;
  }
  .footer-subscribe button {
 
    height: 40px;
    max-width: 40px;
    min-width: 40px;
    margin-right: 1px;
  }
  .footer-logo img {
    max-width: 105px;
  }
  .funfact-items {
    padding: 10px 0;
    padding-bottom: 40px;
  }
  .funfact-item span {
    font-size: 28px;
  }
}
@media screen and (max-width:480px) {
  .funfact-items .col-md-6:nth-child(odd) .funfact-item:before{
    display: none;
  }
  .navbar {
    padding-left:0px;
    padding-right:0px;
  }
  .footer-bottom{
    justify-content: center !important;
  }
  .header-area {
    position: sticky;
    padding: 0px 0;
    top: 0px;
    padding-top: 26px;
  }
  body{
    overflow-x: hidden !important;
  }
  
}



